
@{
    ViewBag.Title = "AddTrainer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using SporsalonuBYSS.Models
@model List<Trainer>

<h2>Antrenör Ekleme</h2>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Antrenör Tablosu</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Antrenör ID</th>
                        <th>Role Adı</th>
                        <th>Bayi Adı</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Antrenör ID</th>
                        <th>Role Adı</th>
                        <th>Bayi Adı</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>E-mail</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (Trainer t in Model)
                    {
                        <tr>
                            <td>@t.TrainerID</td>
                            <td>@t.RoleID</td>
                            <td>@t.DealerID</td>
                            <td>@t.FirstName</td>
                            <td>@t.LastName</td>
                            <td>@t.EMail</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<form method="post" action="@Url.Action("AddTrainer","AdminpTrainer")">
        <div class="form-group col-md-6">
            <label for="text">Rol ID</label>
            <input type="text" class="form-control" placeholder="Rol ID giriniz" name="RoleID" required>
        </div>
        <div class="form-group col-md-6">
            <label for="text">Bayi ID</label>
            <input type="text" class="form-control" placeholder="Bayi ID giriniz" name="DealerID" required>
        </div>
        <div class="form-group col-md-6">
            <label for="text">Antrenör Adı</label>
            <input type="text" class="form-control" placeholder="Antrenör Adı giriniz" name="FirstName" required>
        </div>
        <div class="form-group col-md-6">
            <label for="text">Antrenör Soyadı</label>
            <input type="text" class="form-control" placeholder="Antrenör Soyadı giriniz" name="LastName" required>
        </div>
        <div class="form-group col-md-6">
            <label for="text">E-mail</label>
            <input type="text" class="form-control" placeholder="E-mail Adresi giriniz" name="EMail" required>
        </div>
  
    <button type="submit" class="btn btn-success" value="AddTrainer">Ekle</button>
</form>



